<header>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <script src="/js/main.js"></script>

  <!-- Encabezado con men煤 de navegaci贸n -->
  <nav class="navbar fixed-top maine-menu">
    <div class="header">
      <button class="navbar-toggler">
        <i class="fa-solid fa-bars"></i>
      </button>
      <ul class="navbar-nav mx-auto">

        <!-- Logo din谩mico -->
        <% if (headerConfig) { %>
          <li class="nav-item">
            <a href="<%= headerConfig.logo_link %>" class="logo-container">
              <img src="<%= headerConfig.logo_url %>" alt="<%= headerConfig.logo_alt %>" class="logo">
            </a>
          </li>
          <% } %>

            <!-- Men煤 din谩mico -->
            <% menuItems.forEach(menu=> { %>
              <li class="nav-item">
                <a class="nav-link" href="<%= menu.url %>">
                  <%= menu.titulo %>
                </a>

                <% if (menu.tiene_dropdown && menu.submenus && menu.submenus.length> 0) { %>
                  <div class="dropdown">
                    <ul>
                      <% menu.submenus.forEach(sub=> { %>
                        <li><a href="<%= sub.url %>">
                            <%= sub.titulo %>
                          </a></li>
                        <% }) %>
                    </ul>
                  </div>
                  <% } %>
              </li>
              <% }) %>

                <!--  Contenedor derecho: sesi贸n + buscador -->
                <div class="navbar-right">
                  <% if (usuario) { %>
                    <a href="/auth/logout" class="account-btn">
                      <i class="fa fa-sign-out-alt"></i> Cerrar sesi贸n
                    </a>
                    <% } else { %>
                      <a href="/auth/login" class="account-btn">
                        <i class="fa fa-sign-in-alt"></i> Iniciar Sesi贸n
                      </a>
                      <% } %>
                        <div class="search-container">
                          <i class="fa-solid fa-magnifying-glass search-icon"></i>
                          <input type="text" class="search-input" placeholder="Buscar...">
                        </div>
                </div>
      </ul>
    </div>
  </nav>
</header>