<%- include('../partials/header') %>

<head>
    <!-- Estilos de la página de Experiencia -->
    <link rel="stylesheet" href="/css/experience.css">
    <link rel="stylesheet" href="/css/migas_de_pan.css">
    <script src="/js/main.js"></script>
    <title>Experiencia</title>
</head>

<div class="container">
    <!-- Contenedor para las migas de pan -->
    <div class="breadcrumb-wrapper">
        <div id="breadcrumb-placeholder"></div>
    </div>

    <section class="hero" style="background-image: url('<%= heroSection.imagen %>');">
        <h1><%= heroSection.titulo %></h1>
        <p><%= heroSection.descripcion %></p>
        <div class="button-container"> 
            <button class="cta-button"><%= heroSection.boton_texto %></button>
        </div>
    </section>

<section class="events">
    <h2>Próximos Festivales y Eventos</h2>
    <div class="event-cards">
        <% eventos.forEach(evento => { %>
            <div class="event-card">
                <img src="<%= evento.imagen %>" alt="<%= evento.titulo %>">
                <h3><%= evento.titulo %></h3>
                <p><i class="fa fa-calendar"></i> <%= evento.fecha %></p>
                <p><i class="fa fa-map-marker-alt"></i> <%= evento.ubicacion %></p>
                <div class="event-buttons">
                    <button class="info-button"><%= evento.boton_info %></button>
                    <button class="register-button"><%= evento.boton_registro %></button>
                </div>
            </div>
        <% }) %>
    </div>
</section>

<section class="news">
    <h2>Últimas noticias</h2>
    <div class="news-cards">
        <% noticias.forEach(noticia => { %>
            <div class="news-card">
                <img src="<%= noticia.imagen %>" alt="<%= noticia.titulo %>">
                <h3><%= noticia.titulo %></h3>
                <p><%= noticia.descripcion %></p>
            </div>
        <% }); %>
    </div>
</section>


<!-- Incluir el footer -->
<%- include('../partials/footer') %>
