<%- include('../partials/header') %>

<head>
    <!-- Estilos y Scripts de la página de Radio -->
    <link rel="stylesheet" href="/css/radio.css">
    <link rel="stylesheet" href="/css/migas_de_pan.css">
    <script src="/js/main.js"></script>
    <script src="/js/carrusel.js"></script>
    <title>One World Radio</title>
</head>

<div class="container">
    <!-- Contenedor para las migas de pan -->
    <div class="breadcrumb-wrapper">
        <div id="breadcrumb-placeholder"></div>
    </div>

    <div class="hero">
        <div class="hero-card">
            <% if (heroCard) { %>
                <img src="<%= heroCard.imagen %>" alt="Tomorrowland Radio">
                <div class="hero-content">
                    <span class="live">LIVE</span>
                    <h1><%= heroCard.titulo %></h1>
                    <a href="<%= heroCard.url %>" class="btn_principal">ESCUCHAR ▶</a>
                </div>
            <% } else { %>
                <p>No hay contenido disponible.</p>
            <% } %>
        </div>
    
        <div class="mini-cards">
            <% miniCards.forEach(mini => { %>
                <div class="mini-card">
                    <img src="<%= mini.imagen %>" alt="<%= mini.titulo %>">
                    <div class="mini-content">
                        <h2><%= mini.titulo %></h2>
                        <a href="<%= mini.url %>" class="btn">ESCUCHAR</a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <section class="shows">
        <h2>Los últimos espectáculos a la carta</h2>
        <p>Revive programas exclusivos de One World Radio.</p>
        <div class="show-cards">
            <% shows.forEach(show => { %>
                <div class="show-card">
                    <img src="<%= show.imagen %>" alt="<%= show.titulo %>">
                    <button class="play-btn">▶</button>
                    <h3><%= show.titulo %></h3>
                    <p><%= show.descripcion %></p>
                </div>
            <% }); %>
        </div>
        <div class="nav-arrows-show-card">
            <button class="prev">‹</button>
            <button class="next">›</button>
        </div>
    </section>
    

    <section class="monthly-shows">
        <h2>Espectáculos mensuales</h2>
        <div class="show-wrapper">
            <div class="show-cards-monthly">
                <% monthlyShows.forEach(show => { %>
                    <div class="monthly-card">
                        <img src="<%= show.imagen %>" alt="<%= show.titulo %>">
                        <h3><%= show.titulo %></h3>
                        <p><%= show.descripcion %></p>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="nav-arrows-monthly">
            <button class="prev-monthly">‹</button>
            <button class="next-monthly">›</button>
        </div>
    </section>
    

    <!-- Incluir el footer -->
<%- include('../partials/footer') %>
</div>


